
snippet columns ":::: {.columns} ..."
:::: {.columns}
::: {.column width="50%"}
${1:some stuff here}
:::

::: {.column width="50%"}
${2:and more stuff here}
:::
::::
endsnippet

snippet div "::: {} ..."
::: {${1:classes}}
${2:some stuff here}
:::
endsnippet

snippet src "<p>source: qsmally.org</p>"
<p style="font-size: 9pt;">source: ${1:qsmally.org}</p>
endsnippet
